
@model ASP_MVC_M8_project.Models.ViewModel.VM.Event_Type
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row  z-depth-2  lighten-2">
        <div class="col s10 offset-s1">
            <h4>Edit Event Type</h4>

            @Html.ValidationSummary(true, "", new { @class = "red-text" })
            @Html.HiddenFor(model => model.EventTypeId)
            @Html.HiddenFor(model => model.EventTypeImagePath)
            <div class="row">
                <div class="input-field col s9 ">
                    @Html.EditorFor(model => model.EventType)
                    @Html.ValidationMessageFor(model => model.EventType, "", new { @class = "red-text" })
                    @Html.LabelFor(model => model.EventType)
                </div>

            </div>
            <div class="row">
                <img border="0" width="200" src="~/@Html.DisplayFor(model=> model.EventTypeImagePath)" alt="@Html.DisplayFor(model=> model.EventType) image">
            </div>

            <div class="row">
                <div class="input-field col s9 ">
                    <div class="file-field input-field">
                        <div class="btn white darken-2">
                            <a><i class="material-icons ">photo_camera</i></a>
                            @Html.TextBoxFor(model => model.EventTypeImage, new { type = "file" })
                        </div>

                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Choose a image to upload" />
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.EventTypeImage, "", new { @class = "red-text" })
                </div>
            </div>

            <div class="row centered">
                <div class="input-field col s3 ">
                    <div>

                        @Html.ActionLink("< Back to list", "Index", "Event", new { @class = "btn blue lighten-2" })
                    </div>
                </div>
                <div class="input-field col s3 ">


                    <button class="btn blue  lighten-2 waves-effect waves-light" type="submit">
                        save changes
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </div>
        </div>


    </div>



}


